h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #fff;
    padding: 18px 0px 18px 0px;
}
.prim-bg{
    background-color: #0F77BD;
}
h6{
    color: #fff;
    padding: 10px 0px 10px 0px;
}
.adminIcon{
    padding: 20px 0px 18px 64px;
    text-align: center;
}
.navBar{
    background-color: #0F639C;
    padding: 0px 0px 0px 12px;
    height: 44px;
}
.margin{
    margin-top: 24px;
}

button{
    position: relative;
    margin-left: 200px;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #0F77BD;
    padding: 24px 0px 24px 0px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #ffffff;
    padding: 24px 0px 24px 0px;
}

.subheading{
    background-color: #0F77BD;
    margin: 24px 0px 24px 0px;
    border-radius: 4px;
}


